div.multi-dropdown > div > div {
    padding-bottom: 4px;
}

.tab:not(.tab--selected):not(.tab--disabled):hover,
.button:not(:disabled):hover
{ background-color: #ededed !important; }

.tab:not(.tab--selected):not(.tab--disabled):active,
.button:not(:disabled):active
{ background-color: #eaeaea !important; }

pre {
    font-family: Consolas, Courier, monospace;
}
